a{
    cursor: pointer;
    user-select: none;
}
.ship-status{
    text-transform: capitalize;
}

.item_count{
    font-size: 18px;
}

.product-showlist {
    margin-right: 0px;
    max-width: 100%;
}