<!-- <footer class="footer text-light">
  <div class="container">  -->
<!--<div class="row justify-content-center align-items-center mb-2 mt-2">
      <div class="col-12">
        <a href="javascript:void(0)" (click)="openLogo('2513554')">
          <img src="http://www.ccavenue.com/images/460.gif" border=0 class="img-fluid text-center" width="400px" height="100px">
        </a>
      </div>
    </div>-->
<!-- <div class="row row-grid align-items-center mb-5 mt-2">
      <div class="col-lg-6">
        <h5 class="text-light font-weight-light mb-2">
          Thank you for visiting us! 
        </h5>

      </div>
      
      <div class="col-lg-6 text-lg-center btn-wrapper">
       
        <a href="https://www.facebook.com/" target="_blank">
          <button type="button" class="button btn-icon-only rounded-circle btn btn-facebook">
            <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
          </button>
        </a>
        &nbsp;
        <a href="https://www.instagram.com/" target="_blank">
          <button type="button" class="button btn-icon-only rounded-circle btn btn-instagram">
            <span class="btn-inner--icon"><i class="fab fa-instagram"></i></span>
          </button>
        </a>  
        &nbsp;      
        <a href="https://www.youtube.com/" target="_blank">
          <button type="button" class="button btn-icon-only rounded-circle btn btn-youtube">
            <span class="btn-inner--icon"><i class="fab fa-youtube"></i></span>
          </button>
        </a>
        
         
      </div>
    </div>
    <hr />

    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          © {{ date | date:'yyyy'  }} <br/>
          <a class="text-light" [routerLink]="['/']">Colour Cubs</a> <br/>
        </div>
      </div>
      <div class="col-md-6 mb-2 mt-2 ">
        <ul class="nav nav-footer justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-light font-weight-light" [routerLink]="['/']"> Policy </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light font-weight-light" [routerLink]="['/']"> About Us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light font-weight-light" [routerLink]="['/']">
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light font-weight-light" [routerLink]="['/']"> Terms & Conditions </a>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
</footer> -->


<!-- Remove the container if you want to extend the Footer to full width. -->
<!-- <div class="container-fluid custom-fluid"> -->

<!-- Footer -->
<!-- <footer
          class="text-center text-lg-start text-white"
          > -->
<!-- Section: Social media -->
<!-- <section class="container-fluid foot-top">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.<path d="M190.5 68.8L225.3 128H224 152c-22.1 0-40-17.9-40-40s17.9-40 40-40h2.2c14.9 0 28.8 7.9 36.3 20.8zM64 88c0 14.4 3.5 28 9.6 40H32c-17.7 0-32 14.3-32 32v64c0 17.7 14.3 32 32 32H480c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32H438.4c6.1-12 9.6-25.6 9.6-40c0-48.6-39.4-88-88-88h-2.2c-31.9 0-61.5 16.9-77.7 44.4L256 85.5l-24.1-41C215.7 16.9 186.1 0 154.2 0H152C103.4 0 64 39.4 64 88zm336 0c0 22.1-17.9 40-40 40H288h-1.3l34.8-59.2C329.1 55.9 342.9 48 357.8 48H360c22.1 0 40 17.9 40 40zM32 288V464c0 26.5 21.5 48 48 48H224V288H32zM288 512H432c26.5 0 48-21.5 48-48V288H288V512z"/></svg></div> 
            <h4>Special Gift Cards</h4>
            <p>give a perfect gift</p>  
          </div>
        

      
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
          <div><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. <path d="M64 64C28.7 64 0 92.7 0 128V384c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H64zm64 320H64V320c35.3 0 64 28.7 64 64zM64 192V128h64c0 35.3-28.7 64-64 64zM448 384c0-35.3 28.7-64 64-64v64H448zm64-192c-35.3 0-64-28.7-64-64h64v64zM288 160a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/></svg></div> 
          <h4>Secure Payment</h4>
          <p>100% secure payment</p>
          
        </div> -->



<!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
          <div><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.<path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg></div>
          <h4>24/7 Support</h4>
          <p>online support 24/7</p>
        </div>   -->


<!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
          <div><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -<path d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z"/></svg></div>
          <h4>Free Shipping</h4>
          <p>on order over $101</p>
        </div>
    </div> -->


<!-- Right -->
<!-- <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div> -->
<!-- Right -->
<!-- </section> -->
<!-- Section: Social media -->

<!-- Section: Links  -->
<!-- <section class="">
      <div class="container text-center text-md-start mt-5"> -->
<!-- Grid row -->
<!-- <div class="row mt-3"> -->
<!-- Grid column -->
<!-- <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"> -->
<!-- Content -->
<!-- <h5 class="text-uppercase fw-bold">EXTRAS</h5>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                />
            <p>
              <a href="#!" class="">Brands</a>
            </p>
            <p>
              <a href="#!" class="">Gift Certificate</a>
            </p>
            <p>
              <a href="#!" class="">Affiliate</a>
            </p>
            <p>
              <a href="#!" class="">Speacials</a>
            </p>
            <p>
              <a href="#!" class="">Site Map</a>
            </p>
          </div> -->
<!-- Grid column -->

<!-- Grid column -->
<!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            Links
            <h5 class="text-uppercase fw-bold">
              <button
              aria-controls="collapseOne"
              class="btn text-center"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="collapseOne"
              type="button">
              INFORMATION
              <i class="ni ni-bold-down float-right pt-1"> </i>
              </button> 
            </h5>
            
            <div
                aria-labelledby="headingOne"
                class="show"
                data-parent="#accordionExample"
                [isAnimated]="true"
                [collapse]="isCollapsed"
                id="collapseOne">
                <div class="opacity-8">
                  <p class="d-md-block">
                    <a href="#!" class="">About Us</a>
                  </p>
                  <p class="d-md-block">
                    <a href="#!" class="">Delivery Information</a>
                  </p>
                  <p class="d-md-block">
                    <a href="#!" class="">Privacy Policy</a>
                  </p>
                  <p class="d-md-block">
                    <a href="#!" class="">Terms & Conditions</a>
                  </p>
                  <p class="d-md-block">
                    <a href="#!" class="">Contact Us</a>
                  </p>
                </div>
              </div>
          </div> -->
<!-- Grid column -->

<!-- Grid column -->
<!-- <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            Links
            <h5 class="text-uppercase fw-bold">
              <button
                aria-controls="collapseTwo"
                class="btn text-left"
                [attr.aria-expanded]="!isCollapsed1"
                (click)="isCollapsed1 = !isCollapsed1"
                id="collapseTwo"
                type="button">
                MY ACCOUNT
                <i class="ni ni-bold-down float-right pt-1"> </i>
              </button>
            </h5>
            <div
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
              [isAnimated]="true"
              [collapse]="isCollapsed1"
              id="collapseTwo">
              <div class="opacity-8">
                <p class="d-md-block">
                  <a href="#" class="">My Account</a>
                </p>
                <p class="d-md-block">
                  <a href="#" class="">Order History</a>
                </p>
                <p class="d-md-block">
                  <a href="#" class="">Blogs</a>
                </p>
              </div>
            </div> -->
<!-- <p>
              <a href="#" class="">Newsletter</a>
            </p>
            <p>
              <a href="#" class="">Returns</a>
            </p> 
          </div>
           Grid column -->

<!-- Grid column -->
<!-- <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            Links
            <h5 class="text-uppercase fw-bold">
              <button
                aria-controls="collapseThree"
                class="btn text-left"
                [attr.aria-expanded]="!isCollapsed2"
                (click)="isCollapsed2 = !isCollapsed2"
                id="collapseThree"
                type="button">
                CONTACT US
                <i class="ni ni-bold-down float-right pt-1"> </i>
              </button>
            </h5>
            <div
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
              [isAnimated]="true"
              [collapse]="isCollapsed2"
              id="collapseThree">
              <div class="opacity-8">
                <p class="d-md-block"><a href=""><i class="fas fa-home mr-3"></i> New York, NY 10012, US</a></p>
                <p class="d-md-block"><a href=""><i class="fas fa-envelope mr-3"></i>info@example.com</a></p>
                <p class="d-md-block"><a href=""><i class="fas fa-phone mr-3"></i> + 01 234 567 88</a></p>
                <p class="d-md-block"><a href=""><i class="fas fa-print mr-3"></i> + 01 234 567 89</a></p>
              </div>
            </div>
           
          </div> -->
<!-- Grid column -->
<!-- </div> -->
<!-- Grid row -->
<!-- </div>
    </section> -->
<!-- Section: Links  -->


<!-- Demo -->
<!-- <div class="cd-section" id="accordion">
      <div class="accordion-1">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <h2 class="title mb-3 mt-5">Frequently asked question</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ml-auto">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button
                        aria-controls="collapseOne"
                        class="btn btn-link w-100 text-primary text-left"
                        [attr.aria-expanded]="!isCollapsed"
                        (click)="isCollapsed = !isCollapsed"
                        id="collapseOne"
                        type="button"
                      >
                        How do I order?
                        <i class="ni ni-bold-down float-right pt-1"> </i>
                      </button>
                    </h5>
                  </div>
                  <div
                    aria-labelledby="headingOne"
                    class="show"
                    data-parent="#accordionExample"
                    [isAnimated]="true"
                    [collapse]="isCollapsed"
                    id="collapseOne"
                  >
                    <div class="card-body opacity-8">
                      Anim pariatur cliche reprehenderit, enim eiusmod high
                      life accusamus terry richardson ad squid. 3 wolf moon
                      officia aute, non cupidatat skateboard dolor brunch.
                      Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                      wolf moon tempor, sunt aliqua put a bird on it squid
                      single-origin coffee nulla assumenda shoreditch et.
                      Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan
                      excepteur butcher vice lomo. Leggings occaecat craft
                      beer farm-to-table, raw denim aesthetic synth nesciunt
                      you probably haven't heard of them accusamus labore
                      sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button
                        aria-controls="collapseTwo"
                        class="btn text-left collapsed"
                        [attr.aria-expanded]="!isCollapsed1"
                        (click)="isCollapsed1 = !isCollapsed1"
                        id="collapseTwo"
                        type="button"
                      >
                        How can i make the payment?
                        <i class="ni ni-bold-down float-right pt-1"> </i>
                      </button>
                    </h5>
                  </div>
                  <div
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                    [isAnimated]="true"
                    [collapse]="isCollapsed1"
                    id="collapseTwo"
                  >
                    <div class="opacity-8">
                     
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button
                        aria-controls="collapseThree"
                        class="btn btn-link w-100 text-primary text-left collapsed"
                        [attr.aria-expanded]="!isCollapsed2"
                        (click)="isCollapsed2 = !isCollapsed2"
                        id="collapseThree"
                        type="button"
                      >
                        CONTACT US
                        <i class="ni ni-bold-down float-right pt-1"> </i>
                      </button>
                  </h5>
                  <h5 class="text-uppercase fw-bold d-none d-md-block">
                      INFORMATION
                  </h5>
                  <div aria-labelledby="headingOne" data-parent="#accordionExample"
                      [isAnimated]="true" [collapse]="isCollapsed3" id="collapseOne">
                      <div class="opacity-8">
                          <p class="d-md-block">
                              <a routerLink="aboutus">About Us</a>
                          </p>
                          <p class="d-md-block">
                              <a routerLink="shipmentPolicy">Shipment Policy</a>
                          </p>
                          <p class="d-md-block">
                              <a routerLink="policy">Return & Refund Policy</a>
                          </p>
                          <p class="d-md-block">
                              <a routerLink="terms">Terms & Conditions</a>
                          </p>
                          <p class="d-md-block">
                              <a routerLink="aboutus">Contact Us</a>
                          </p>
                      </div>
                  </div>
                  <div class="opacity-8 d-none d-md-block">
                    <p class="d-md-block">
                        <a routerLink="aboutus">About Us</a>
                    </p>
                      <p class="d-md-block">
                        <a routerLink="shipmentPolicy">Shipment Policy</a>
                      </p>
                      <p class="d-md-block">
                        <a routerLink="policy">Return & Refund Policy</a>
                      </p>
                      <p class="d-md-block">
                        <a routerLink="terms">Terms & Conditions</a>
                      </p>
                      <p class="d-md-block">
                        <a routerLink="aboutus">Contact Us</a>
                    </p>
                  </div>
              </div>
  
              MY ACCOUNT Grid column -->
<!--      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h5 class="text-uppercase fw-bold d-md-none">
                      <button aria-controls="collapseTwo" class="btn ml-3 w-100 d-flex justify-content-between align-items-center" [attr.aria-expanded]="!isCollapsed1"
                          (click)="isCollapsed1 = !isCollapsed1" id="collapseTwo" type="button">
                          MY ACCOUNT
                          <i class="ni ni-bold-down pt-1 mr-3"></i>
                      </button>
                  </h5>
                  <h5 class="text-uppercase fw-bold d-none d-md-block">
                      MY ACCOUNT
                  </h5>
                  <div aria-labelledby="headingTwo" data-parent="#accordionExample" [isAnimated]="true"
                      [collapse]="isCollapsed1" id="collapseTwo">
                      <div class="opacity-8">
                          <p class="d-md-block">
                              <a href="#">My Account</a>
                          </p>
                          <p class="d-md-block">
                              <a href="#">Order History</a>
                          </p>
                          <p class="d-md-block">
                              <a href="#">Blogs</a>
                          </p>
                      </div>
                  </div>
                  <div class="opacity-8 d-none d-md-block">
                      <p class="d-md-block">
                          <a  routerLink='myaccount'>My Account</a>
                      </p>
                      <p class="d-md-block">
                          <a  routerLink='myorders'>Order History</a>
                      </p>
                      <p class="d-md-block">
                          <a  routerLink='blogs'>Blogs</a>
                      </p>
                  </div>
              </div>
  
              CONTACT US Grid column -->
<!--   <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <h5 class="text-uppercase fw-bold d-md-none">
                      <button aria-controls="collapseThree" class="btn ml-3 w-100 d-flex justify-content-between align-items-center" [attr.aria-expanded]="!isCollapsed2"
                          (click)="isCollapsed2 = !isCollapsed2" id="collapseThree" type="button">
                          CONTACT US
                          <i class="ni ni-bold-down pt-1 mr-3"></i>
                      </button>
                  </h5>
                  <h5 class="text-uppercase fw-bold d-none d-md-block">
                      CONTACT US
                  </h5>
                  <div aria-labelledby="headingThree" data-parent="#accordionExample" [isAnimated]="true"
                      [collapse]="isCollapsed2" id="collapseThree">
                      <div class="opacity-8">
                          <p class="d-md-block"><a href=""><i class="fas fa-home mr-3"></i>Bangalore, India</a></p>
                          <p class="d-md-block"><a href=""><i class="fas fa-envelope mr-3"></i>reachus@colourcubs.com</a></p>
                          <p class="d-md-block"><a href=""><i class="fas fa-phone mr-3"></i> + 91 234 567 88</a></p>
                          <p class="d-md-block"><a href=""><i class="fas fa-print mr-3"></i> + 91 234 567 89</a></p>
                      </div>
                  </div>
                  <div class="opacity-8 d-none d-md-block">
                      <p class="d-md-block"><a href=""><i class="fas fa-home mr-3"></i> Bangalore, India</a></p>
                      <p class="d-md-block"><a href=""><i class="fas fa-envelope mr-3"></i>reachus@colourcubs.com</a></p>
                      <p class="d-md-block"><a href=""><i class="fas fa-phone mr-3"></i> + 01 234 567 88</a></p>
                      <p class="d-md-block"><a href=""><i class="fas fa-print mr-3"></i> + 01 234 567 89</a></p>
                  </div>
              </div>
          </div>
      </div>
  </section> -->

<!-- Section: Links  -->



<!-- Copyright -->
<!-- <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      <p>© 2023 Copyright:
        <a class="" href=""
           >ColourCubs.com</a></p>
    </div> -->
<!-- Copyright -->
<!-- </footer>
   Footer 

</div> -->
<!-- End of .container-->

<!-- ********************* Footer Top ******************************* -->
<div class="section-mainecco">
  <div class="main-content-dodyhome">
    <div class="container-fluid-set">
      <div class="main-header-section">
        <div class="headertopsection">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-6 ">
                <div class="box-abuttransfact">
                  <div class="image">
                    <img src="assets/img/image/Vector.svg" alt="">
                    <h4>Special gift card</h4>
                    <p>Give a perfect gift</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-6 ">
                <div class="box-abuttransfact">
                  <div class="image">
                    <img src="assets/img/image/Vector (1).svg" alt="">
                    <h4>Secure Payment</h4>
                    <p>100% Secure Payments</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-6 ">
                <div class="box-abuttransfact">
                  <div class="image">
                    <img src="assets/img/image/Vector (2).svg" alt="">
                    <h4>24/7 Support</h4>
                    <p>Online Support 24/7</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-6 ">
                <div class="box-abuttransfact">
                  <div class="image">
                    <img src="assets/img/image/Vector (3).svg" alt="">
                    <h4>Free Shipping</h4>
                    <p>On order over ₹101</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ************************* Footer ******************************** -->
      <footer class="bodey-footer-end">
        <div class="container">
          <div class="footer-info-section">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="footer-section-group">
                  <div class="image">
                    <img src="assets/img/image/Link → logo.webp.png" [routerLink]="['/']" alt="">
                    <p><span>Colorful cubs </span>await you in our kids' store, offering a delightful range of toys and
                      clothing to brighten up your child's world</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="footer-section-group">
                  <div class="heading-fter">
                    Information
                  </div>
                  <ul class="uldf">
                    <li><a href="" [routerLink]="['aboutus']">About us</a></li>
                    <li><a href="" [routerLink]="['shipmentPolicy']">Delivery Information</a></li>
                    <li><a href="" [routerLink]="['policy']">Privacy Policy</a></li>
                    <li><a href="" [routerLink]="['terms']">Terms & Conditions</a></li>
                    <li><a href="" [routerLink]="['aboutus']">Contact us</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="footer-section-group">
                  <div class="heading-fter" [routerLink]="['myaccount']">
                    My Account
                  </div>
                  <ul class="uldf">
                    <!-- <li><a href="" [routerLink]="['aboutus']">About us</a></li> -->
                    <!-- <li><a href="" [routerLink]="['myaccount']">Order History</a></li> -->
                    <!-- <li><a [routerLink]="['/myaccount/orderHistory']">Order History</a></li> -->
                    <!-- <li><a [routerLink]="['/myaccount/orderHistory']">Order History</a></li> -->
                    <li><a (click)="navigateToOrder()">Order History</a></li>
                    <!-- <li><a [routerLink]="['/myaccount',1]">Order History</a></li> -->
                    <!-- <li><a href="">Blogs</a></li>  -->
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="footer-section-group">
                  <div class="heading-fter">
                    Find us
                  </div>
                  <ul class="uldf">
                    <li><a href=""><i class="fa-solid fa-phone"></i> +91 9898984352</a></li>
                    <li><a type="email" href=""><i class="fa-regular fa-envelope"></i> info@colorcubs.com</a></li>
                    <li><a href=""> <i class="fa-solid fa-building"></i> B-605, Sector 43, near sector 43 metro station,
                        Noida, UP</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="footer-section-group">
                  <div class="responsive-map embed-responsive embed-responsive-16by9">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.7806761080233!2d-93.29138368446431!3d44.96844997909819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32b6ee2c87c91%3A0xc20dff2748d2bd92!2sWalker+Art+Center!5e0!3m2!1sen!2sus!4v1514524647889"
                      frameborder="0" style="border:0" allowfullscreen></iframe>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </footer>
    </div>

  </div>

</div>



<div class="coppyright">
  <p>© 2024 Copyright: ColourCubs.com</p>
</div>


