
.custom-connect .noUi-connect {
    background: #007aff !important; /* Blue color */
  }

  
  .custom-connect .noUi-handle {
    height: 50% !important; /* Half the original height */
    width: 50% !important; /* Half the original width */
  }
  
  .custom-connect .noUi-base {
    height: 50% !important; /* Half the original height */
  }
  
