<div class="cd-section" id="accordion">
    <div class="accordion-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <h2 class="title mb-3 mt-5 display-4">Delivery Information</h2>
          </div>
        </div>
       
  
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-4">
                    <!-- General Information -->
                    <div class="card mb-3">
                      <div class="card-header">
                        <h3 class="mb-0">1. General Information</h3>
                      </div>
                      <div class="card-body">
                        <p>All orders are subject to product availability. If an item is not in stock at the time you place your order, we will notify you and refund you the total amount of your order, using the original method of payment.</p>
                      </div>
                    </div>
            
                    <!-- Delivery Location -->
                    <div class="card mb-3">
                      <div class="card-header">
                        <h3 class="mb-0">2. Delivery Location</h3>
                      </div>
                      <div class="card-body">
                        <p>Items offered on our website are only available for delivery to addresses in [Specify Locations]. Any shipments outside of [Specify Locations] are not available at this time.</p>
                      </div>
                    </div>
            
                    <!-- Delivery Time -->
                    <div class="card mb-3">
                      <div class="card-header">
                        <h3 class="mb-0">3. Delivery Time</h3>
                      </div>
                      <div class="card-body">
                        <p>An estimated delivery time will be provided to you once your order is placed. Delivery times are estimates and commence from the date of shipping, rather than the date of order. Delivery times are to be used as a guide only and are subject to the acceptance and approval of your order.</p>
                        <p>Unless there are exceptional circumstances, we make every effort to fulfill your order within [number] business days of the date of your order. Business day mean Monday to Friday, except holidays.</p>
                        <p>Please note we do not ship on [Specify Days].</p>
                      </div>
                    </div>
            
                    <!-- Delivery Instructions -->
                    <div class="card mb-3">
                      <div class="card-header">
                        <h3 class="mb-0">4. Delivery Instructions</h3>
                      </div>
                      <div class="card-body">
                        <p>[Specify any delivery instructions your company offers, e.g., leave package at the reception, deliver after 3 PM, etc.]</p>
                      </div>
                    </div>
            
                    <!-- Shipping Costs -->
                    <div class="card mb-3">
                      <div class="card-header">
                        <h3 class="mb-0">5. Shipping Costs</h3>
                      </div>
                      <div class="card-body">
                        <p>Shipping costs are based on the weight of your order and the delivery method. To find out how much your order will cost, simply add the items you would like to purchase to your cart, and proceed to the checkout page. Once at the checkout screen, shipping charges will be displayed.</p>
                        <p>Additional shipping charges may apply to remote areas or for large or heavy items. You will be advised of any charges on the checkout page.</p>
                      </div>
                    </div>
            
                    <!-- Damaged Items in Transport -->
                    <div class="card mb-3">
                      <div class="card-header">
                        <h3 class="mb-0">6. Damaged Items in Transport</h3>
                      </div>
                      <div class="card-body">
                        <p>If there is any damage to the packaging on delivery, contact us immediately at [Contact Information].</p>
                      </div>
                    </div>
            
                    <!-- Questions -->
                    <div class="card">
                      <div class="card-header">
                        <h3 class="mb-0">7. Questions</h3>
                      </div>
                      <div class="card-body">
                        <p>If you have any questions about the delivery and shipment or your order, please contact us at [Contact Information].</p>
                      </div>
                    </div>
            
                  </div>
             
            
        </div>
    </div>
</div>

<br/>
<br/>