<div class="modal-header">
    <h3 class="panel-title mb-0 p-0">
        <span> Import Stock</span>
    </h3> &nbsp;
    <button type="button" class="btn-close btn btn-primary btn-with-icon save-profile" (click)="modal.dismiss()">
    </button>
</div>
<section>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="col-md-12">
                    <div class="form-group  row">
                        <div class="col-md-6">
                            <input #excelUpload type="file" (change)="SelectFile($event)" />
                        </div>
                        <div class="col-md-6" *ngIf="resetFileforImport">
                            <button type="button" class="btn btn-primary" [disabled]="SelectedFileImport"
                                (click)="importFile()">
                                <i class="fa fa-upload" style="margin-right: 4px;"></i>
                                Import
                            </button>
                        </div>

                        <div class="col-md-6" *ngIf="importFileforReset">
                            <button type="button" class="btn btn-primary btn-with-icon save-profile"
                                (click)="resetFile()">
                                <i class="fa fa-upload" style="margin-right: 4px;"></i>
                                Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <form *ngIf="openAccordion" #myForm="ngForm">
            <div class="col-md-12">
                <div class="accordion-button-new">


                    <!-- Dealer Name -->
                    <div class="col-md-12 mb-2">
                        <div class="form-group row clearfix">
                            <div class="col-md-4">
                                <label for="dealerName" class="control-label">Name <span
                                        class="text-danger">*</span></label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" required name="dealerName"
                                    class="form-control form-control-alternative" placeholder="Enter Name"
                                    [(ngModel)]="consignment.dealer.dealerName" #dealerName="ngModel" ngModel />
                                <div class="errormessage" *ngIf="controlHasError('required', dealerName)">
                                    Please Enter Name
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Purchase Date -->
                    <div class="col-md-12 mb-2">
                        <div class="form-group row clearfix">
                            <div class="col-md-4">
                                <label for="purchaseDate" class="control-label">Purchase Date</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="date" name="purchaseDate" class="form-control form-control-alternative"
                                    placeholder="Select Purchase Date" [(ngModel)]="consignment.purchaseDate" />
                            </div>
                        </div>
                    </div>

                    <!-- City -->
                    <div class="col-md-12 mb-2">
                        <div class="form-group row clearfix">
                            <div class="col-md-4">
                                <label for="city" class="control-label">City</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="city" class="form-control form-control-alternative"
                                    placeholder="Enter City" [(ngModel)]="consignment.dealer.address.city" />
                            </div>
                        </div>
                    </div>

                    <!-- State -->
                    <div class="col-md-12 mb-2">
                        <div class="form-group row clearfix">
                            <div class="col-md-4">
                                <label for="state" class="control-label">State</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="state" class="form-control form-control-alternative"
                                    placeholder="Enter State" [(ngModel)]="consignment.dealer.address.state" />
                            </div>
                        </div>
                    </div>

                    <!-- Country -->
                    <div class="col-md-12 mb-2">
                        <div class="form-group row clearfix">
                            <div class="col-md-4">
                                <label for="country" class="control-label">Country</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="country" class="form-control form-control-alternative"
                                    placeholder="Enter Country" [(ngModel)]="consignment.dealer.address.country" />
                            </div>
                        </div>
                    </div>

                    <!-- Pincode -->
                    <div class="col-md-12 mb-2">
                        <div class="form-group row clearfix">
                            <div class="col-md-4">
                                <label for="pincode" class="control-label">Pincode</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="pincode" class="form-control form-control-alternative"
                                    placeholder="Enter Pincode" [(ngModel)]="consignment.dealer.address.pincode" />
                            </div>
                        </div>
                    </div>

                    <!-- Mobile Number -->
                    <div class="col-md-12 mb-2">
                        <div class="form-group row clearfix">
                            <div class="col-md-4">
                                <label for="mobileNumber" class="control-label">Mobile Number</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="mobileNumber" class="form-control form-control-alternative"
                                    placeholder="Enter Mobile Number"
                                    [(ngModel)]="consignment.dealer.address.mobileNumber" />
                            </div>
                        </div>
                    </div>

                    <!-- Email Address -->
                    <div class="col-md-12 mb-2">
                        <div class="form-group row clearfix">
                            <div class="col-md-4">
                                <label for="emailAddress" class="control-label">Email Address</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="emailAddress" class="form-control form-control-alternative"
                                    placeholder="Enter Email Address"
                                    [(ngModel)]="consignment.dealer.address.emailAddress" />
                            </div>
                        </div>
                    </div>

                    <!-- Consignment Cost - Amount -->
                    <div class="col-md-12 mb-2">
                        <div class="form-group row clearfix">
                            <div class="col-md-4">
                                <label for="consignmentCost" class="control-label">Cost( Amount) <span
                                        class="text-danger">*</span></label>
                            </div>
                            <div class="col-sm-6">
                                <input type="number" name="consignmentCost"
                                    class="form-control form-control-alternative" required
                                    placeholder="Enter Consignment Cost"
                                    [(ngModel)]="consignment.consignmentCost.amount" #costAmount="ngModel" ngModel />
                                <div class="errormessage" *ngIf="controlHasError('required', costAmount)">
                                    Please Enter consignment cost
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- consignment item -->
                    <div class="col-md-12 mb-2">
                        <div class="form-group row clearfix">
                            <div class="col-md-2">
                                <label for="consignmentItem" class="control-label">Item</label>
                            </div>
                            <div class="col-md-10">
                                <table class="table" *ngIf="consignment.consignmentItem.length>0">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Item Id</th>
                                            <th>Item Name</th>
                                            <th>VariationId</th>
                                            <th>purchase Price</th>
                                            <th>Quantity</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of consignment.consignmentItem; let i = index">
                                            <td>{{ item.itemId }}</td>
                                            <td>{{ item.itemName }}</td>
                                            <td> {{item?.variationId}}</td>
                                            <td>{{ item.purchasePrice.amount }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td><button class="btn btn-outline-danger" type="button"
                                                    (click)="removeConsignment(i)">-</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="errormessage"
                                    *ngIf="!consignment.consignmentItem || consignment.consignmentItem.length==0">
                                    Please enter at least one consignment item
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <ng-select [searchable]="true" [clearable]="false" [(ngModel)]="selectedItem">
                                            <ng-option *ngFor="let item of items" [value]="item">{{
                                                item.name}}</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" placeholder="Amount"
                                            [(ngModel)]="amount">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" placeholder="Quantity"
                                            [(ngModel)]="quantity">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-primary" (click)="addNew()">+</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-with-icon mb-2" type="button" (click)="submitItemImport()">
                        <span class="bold">Upload Items</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>