.product-package-styling {
    background-color: #F8F8F8;
}


 .trendingswiper2 .swiper-button-next:after {
     font-size: 20px;
     width: 40px;
     border-radius: 50px;
     height: 40px;
     color: #ffffff;
     background: #D41872;
     box-shadow: 0px 0px 5px #afaeae;
     display: flex;
     align-items: center;
     justify-content: center;
     content: 'next';
     cursor: pointer;

 }

 .trendingswiper2 .swiper-button-next {
     width: 50px;
     right: 0px;
     cursor: pointer;

 }

 .trendingswiper2 .swiper-button-prev {
     width: 50px;
     left: 0px;
     cursor: pointer;

 }

 .trendingswiper2 .swiper-button-prev:after {
     font-size: 20px;
     width: 40px;
     border-radius: 50px;
     height: 40px;
     color: #ffffff;
     background: #D41872;
     box-shadow: 0px 0px 5px #afaeae;
     display: flex;
     align-items: center;
     justify-content: center;
     content: 'prev';
     cursor: pointer;

 }


 
 .trendingswiper1 .swiper-button-next:after {
    font-size: 20px;
    width: 40px;
    border-radius: 50px;
    height: 40px;
    color: #ffffff;
    background: #D41872;
    box-shadow: 0px 0px 5px #afaeae;
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'next';
    cursor: pointer;

}

.trendingswiper1 .swiper-button-next {
    width: 50px;
    right: 0px;
    cursor: pointer;

}

.trendingswiper1 .swiper-button-prev {
    width: 50px;
    left: 0px;
    cursor: pointer;

}

.trendingswiper1 .swiper-button-prev:after {
    font-size: 20px;
    width: 40px;
    border-radius: 50px;
    height: 40px;
    color: #ffffff;
    background: #D41872;
    box-shadow: 0px 0px 5px #afaeae;
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'prev';
    cursor: pointer;

}