
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <div class="form-group">
        <input type="file" class="form-control" (change)="onFileSelected($event)">
      </div>
    </div>
    <div class="col-xl-6">
      <div class="form-group">
        <button class="btn btn-primary" (click)="uploadImage()">Upload Image</button>
      </div>
    </div>
    <nav aria-label="Pagination">
      <!-- TODO this is not working. Only th next button is working. Also next text is nto getting displayed -->
      <ul class="pagination">
        <li class="page-item" [class.active]="currentPage === (page)" *ngFor="let page of totalPages">
          <a class="page-link" href="#" (click)="onPageChange(page + 1)">{{ page + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="onPageChange(currentPage + 1)">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
   
    
    <div class="table-responsive">
      <table class="table align-items-center">
        <thead>
          <tr>
            <th>ID</th>
            <th></th>
            <th>URL</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let image of images">
            <td>{{ image.id }}</td>
            <td>
              <a [href]="image.url" target="_blank">
                <img [src]="image.url" alt="Thumbnail" class="img-thumbnail" style="width: 100px; height: auto;">
              </a>
              <br/><p class="text-center">{{image.name}}</p>
            </td>
            <td>
              <a [href]="image.url" target="_blank">{{ image.url }}</a>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteImage(image.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>

