<div class="section pt-0 pb-2">
  <h2 class="display-4 text-dark text-center rounded p-2 custom-margin">Shop by <strong>Age</strong></h2>
  <div class="row p-2">
    <!-- Card 1 -->
    <div class="col-lg-4 col-4 mx-auto custom-pad">
      <div class="card" (click)="navigateToAgeWiseCategory(1)">
        <div class="image-container pt-3">
          <img src="assets/img/creatives/0-12m.png" class="img-fluid rounded-circle shadow" alt="Card Image">
        </div>
        <div class="card-body text-center">
          <p class="card-title">0 to 12 months</p>
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="col-lg-4 col-4 mx-auto custom-pad">
      <div class="card" (click)="navigateToAgeWiseCategory(2)">
        <div class="image-container pt-3">
          <img src="assets/img/creatives/1-3.png" class="img-fluid rounded-circle shadow" alt="Card Image">
        </div>
        <div class="card-body text-center">
          <p class="card-title">1 to 3 years</p>
        </div>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="col-lg-4 col-4 mx-auto custom-pad">
      <div class="card" (click)="navigateToAgeWiseCategory(3)">
        <div class="image-container pt-3">
          <img src="assets/img/creatives/4-5.png" class="img-fluid rounded-circle shadow" alt="Card Image">
        </div>
        <div class="card-body text-center">
          <p class="card-title">4 to 5 years</p>
        </div>
      </div>
    </div>
    <!-- Card 4 -->
    <div class="col-lg-4 col-4 mx-auto custom-pad">
      <div class="card" (click)="navigateToAgeWiseCategory(4)">
        <div class="image-container pt-3">
          <img src="assets/img/creatives/6-7.png" class="img-fluid rounded-circle shadow" alt="Card Image">
        </div>
        <div class="card-body text-center">
          <p class="card-title">6 to 7 years</p>
        </div>
      </div>
    </div>
    <!-- Card 5 -->
    <div class="col-lg-4 col-4 mx-auto custom-pad">
      <div class="card" (click)="navigateToAgeWiseCategory(5)">
        <div class="image-container pt-3">
          <img src="assets/img/creatives/8-10.png" class="img-fluid rounded-circle shadow" alt="Card Image">
        </div>
        <div class="card-body text-center">
          <p class="card-title">8 to 10 years</p>
        </div>
      </div>
    </div>
    <!-- Card 6 -->
    <div class="col-lg-4 col-4 mx-auto custom-pad">
      <div class="card" (click)="navigateToAgeWiseCategory(6)">
        <div class="image-container pt-3">
          <img src="assets/img/creatives/10-12.png" class="img-fluid rounded-circle shadow" alt="Card Image">
        </div>
        <div class="card-body text-center">
          <p class="card-title">11 to 12 years</p>
        </div>
      </div>
    </div>
  </div>
</div>