  <div class="container-fluid-set">

  <div class="addvertisement-other-pagebanner">
      <div class="image">
          <img src="assets/img/image/Group 86.png" alt="">
      </div>
  </div>
  <div class="section-formshowcashproductstyletwo">
  <div class=" content-row">
       
          <div class="content-col-half" style="display: flex; align-items: center;">
              <div class="image-section">
                  <div class="image in-side bounce-effect">
                      <img src="assets/img/image/Frame 89.png" alt=""  >
                  </div>
                 
              </div>
              <div class="tittel-spel">
                  <div class="div"><div class="count">01</div> <div class="textsh">Natural <br>
                      & Safe</div></div>
              </div>
          </div>
          <div class="content-col-half" >
              <div class="image-section">
                  <div class="image in-center bounce-effect">
                      <img src="assets/img/image/Frame.png" alt=""  >
                  </div>
              </div>
             
          </div>
         
          <div class="content-col-half" >
              <div class="image-section">
                  <div class="image in-center bounce-effect">
                      <img src="assets/img/image/Rectangle 93.png" alt=""  >
                  </div>
              </div>
              <div class="tittel-spel">
                  <div class="div"><div class="count">02</div> <div class="textsh">Ecofriendly 
                      </div></div>
              </div>
          </div>
          <div class="content-col-half" style="display: flex; align-items: center; justify-content: end;">
              <div class="image-section">
                  <div class="image in-side-right bounce-effect">
                      <img src="assets/img/image/Rectangle 94.png" alt=""  >
                  </div>
              </div>
              <div class="tittel-speltwo">
                  <div class="div"><div class="count">03</div> <div class="textsh">EFFECTIVE 
                       </div></div>
              </div>
          </div>
       
  </div>
 
  </div>
  <div class="suggested-for-you-section">
    <div class="container">
        <div class="top-feature-section">
            <div class="heading-section">
              <p><span> Suggested </span>  For You</p>
            </div>
            <app-top-categories [categoryId]="99"></app-top-categories>
            
          </div>
      </div>
    
      <div class="see-more-section">
        <p>See more <i class="fa-solid fa-angle-right"></i></p>
    </div>
      
  </div>
  
    
</div>