.btn-custom {
    color: #fff;
    width: 200px;
    padding: 7px 15px;
    background: #e9327a;
    font-size: 16px;
}

.btn-custom:hover {
    background: transparent;
    border: 1px solid #e9327a;
    color: black;
}

.btn-custom-register {
    color: #fff;
    width: 200px;
    padding: 7px 15px;
    color: black;
    font-size: 16px;
    border: 1px solid black
}

.btn-custom-register:hover {
    background: transparent;
    border: 1px solid;
    color: black;
}

i {
    width: 10px;
}


.section-right-product-infor .content .add-to-buy .active {
    width: 200px;
    padding: 7px 15px;
    color: white;
    background: #e9327a;
    font-size: 16px;
}

.section-right-product-infor .content .add-to-buy .active:hover {
    background: transparent;
    border: 1px solid #e9327a;
    color: black;
}

.btn-custom-login {
    color: #fff;
    width: 200px;
    padding: 7px 15px;
    background: #32e966;
    font-size: 16px;
}

.btn-custom-login:hover {
    background: transparent;
    border: 1px solid #32e966;
    color: black;
}